@import "~antd/dist/antd.variable.min.css";

$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(164, 71%, 44%);
$white: hsl(0, 0%, 100%);
$gastroo: hsl(44, 100%, 50%);
$gastroo-hover: hsl(46, 100%, 58%);


.layout {
  height: 100vh;
  overflow: "auto";
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable;

}
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto, sans-serif;
  border-bottom: 0.13rem solid rgba(0, 0, 0, 0.06);
  padding: 0 0.62rem;
  box-shadow: 0.2rem 0.3rem 2.2rem hsl(0, 0%, 55%);
}

.header-right {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  color: #10122c;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.content-card-center {
  width: clamp(200px, 50%, 800px);
  //max-width: 23.5rem;
  height: 100vh;
  padding: 0rem 1em;
  display: flex;
  align-items: center;
}

.color-cyan {
  color: $cyan;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.creator-card {
  //width: clamp(225px, 650px, 1300px);
  box-shadow: 0.3rem 0.62rem  2.2rem hsl(0, 0%, 55%);
  border-radius: 0.625rem;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  margin: 1rem;
}

.creator-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  text-align: center;
}

.header-div {
  place-items: center;
  margin: 0 auto;
  width: 100%;
}

.header-img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: clamp(150px, 300px, 600px);
  z-index: 0;
}

.logo-img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 5.3rem;
  left: 0;
  right: 0;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.main-menu {
  display: flex;
  font-size: 1.06rem;
  font-weight: 500;
  width: 100%;
  justify-content: center;
}

.menu-content {
    font-size: 1.25rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.menu-background {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  top: 18.75rem;
  height: clamp(24px, 48px, 96px);
  left: 0;
  right: 0;
}

.input {
  width: 100%;
  outline: none;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  appearance: textfield;
  color: #041836;
  font-weight: 700;
  background-color: transparent;
}

.NFTs {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  gap: 1.25rem;
}

@media only screen and (max-width: 400px) {
  .NFTs {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 1.25rem;
  }
  .main-menu {
    display: flex;
    font-size: 1.06rem;
    font-weight: 500;
    width: 25%;
    justify-content: center;
  }
  .header-right {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
  }  
  
}

.nft-card {
  font-family: 'Roboto', sans-serif;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.62rem  2.2rem hsl(0, 0%, 55%);
  width: clamp(135px, 275px, 550px);
  height: clamp(200px, 400px, 600px);
  font-size: 1.125rem;

  .ant-card-body {

    padding: 0.75rem;

    .image-mask {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .ant-image-img {
      object-fit: cover;
      width: 15.6rem;
      height: 15.6rem;
      border-radius: 0.625rem;
    }

    .ant-image-mask {
      border-radius: 0.625rem;
      //background-color: hsla(178, 100%, 50%, 0.6);
    }

    h1 {
      font-size: 1rem;
    }

    .link {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: $white;
    }

    .actions:hover {
      color: hsl(164, 71%, 44%);
      cursor: pointer;
    }

    .secondary-text {
      color: $white;
      opacity: 0.6;

    }

    .ant-divider {
      margin-bottom: 1rem;
      margin-top: 1.25rem;
    }

    .ant-avatar {
      border: 0.06rem solid $white
    }
  }
}

.ant-modal {
  border-radius: 1rem;
  font-family: 'Roboto', sans-serif;

  .ant-modal-content {
    overflow: auto;
    margin: 0.25rem;
    font-size: 1.125rem;
    border-radius: 1rem;
  }
  
  .ant-modal-header {
    text-align: center;
    font-size: 1.56rem;
    background-color: $gastroo;
  }
  .video-mask {
    box-shadow: 0.3rem 0.3rem 0.62rem hsl(0, 0%, 55%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.62rem;
    margin-bottom: 0.62rem;
    background: black;
    width: fit-content;
    height: fit-content;
    border-radius: 0.62rem;
    overflow: hidden;
  }
}

.ant-table {
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 1rem;
  /* row tags */
.ant-table-thead > tr > th {
  background-color: white;
  text-align: center;
  height: 0.62rem;
  padding: 0.75rem;
}
/* row data */
.ant-table-tbody > tr > td {
  text-align: center;
}
}

.dot {
  height: 1rem;
  width: 1.3rem;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gastroo;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $gastroo-hover;
}